body {
    font-family: 'SF Pro Display', sans-serif;
    background: linear-gradient(135deg, #6e99e6, #e684ae, #8ed6fb);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 20px;
      border-radius: 10px;
      margin: 0 20px; /* Adiciona margens laterais em dispositivos móveis */
    }
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    color: #fff;
  }
  
  .password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #password {
    flex-grow: 1;
    padding: 12px 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    color: #333;
  }
  
  #copy-btn {
    margin-left: 15px;
    padding: 12px 15px;
    font-size: 16px;
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #copy-btn:hover {
    background-color: #005da3;
  }
  
  .sf-icon {
    font-family: 'SF Pro Icons', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  
  .settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 30px;
  }
  
  @media (max-width: 480px) {
    .settings {
      grid-template-columns: 1fr;
    }
  }
  
  .setting {
    display: flex;
    align-items: center;
  }
  
  .setting label {
    margin-left: 10px;
    color: #fff;
  }
  
  #generate-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #generate-btn:hover {
    background-color: #005da3;
  }


  footer {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 20px 20px;
  }
  
  .heart {
    color: red;
  }